*BuiltFiles_*.txt
*CopiedFiles_*.txt
*DeployedFiles_*.txt
*.TDS.*/Package_*
*.TDS.*/QA-*/
*.TDS.*/INT-*/
*.TDS.*/Debug/
*.TDS.*/Release/
*.TDS.*/PROD*/
*.TDS.*/Sandbox/
*.TDS.*/CI/
*.TDS.*/IconCache/
/sandbox/*
*.user
*.suo
bin/
obj/
/packages/
/Libs/
*.ncrunchsolution
*.ncrunchproject
_NCrunch*/
license.xml
.idea/
/*.Web/Areas/*/css/*.css
/*.Web/Areas/*/css/*.map
.vs/
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/0c356432e5a7bc146b61231c7275add3a03a588e/main.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/21384136cb4553b7adfafae8d43061415ca8d14c/_bootstrap.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_alerts.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_badges.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_breadcrumbs.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_button-groups.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_buttons.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_carousel.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_close.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_code.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_component-animations.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_dropdowns.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_forms.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_glyphicons.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_grid.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_input-groups.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_jumbotron.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_labels.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_list-group.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_media.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_mixins.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_modals.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_navbar.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_navs.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_normalize.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_pager.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_pagination.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_panels.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_popovers.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_print.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_progress-bars.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_responsive-embed.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_responsive-utilities.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_scaffolding.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_tables.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_thumbnails.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_tooltip.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_type.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_utilities.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_variables.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/6624f7e5eed7672745d8e2e43274f579ab5098a3/_wells.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/9f44fc17b4bdf97309d61f8fbd3bd8a7ebb48e64/_score-grid.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/9f44fc17b4bdf97309d61f8fbd3bd8a7ebb48e64/_score-local-layout.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/9f44fc17b4bdf97309d61f8fbd3bd8a7ebb48e64/_score-nav.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_alerts.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_background-variant.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_border-radius.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_buttons.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_center-block.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_clearfix.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_forms.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_gradients.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_grid-framework.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_grid.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_hide-text.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_image.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_labels.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_list-group.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_nav-divider.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_nav-vertical-align.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_opacity.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_pagination.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_panels.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_progress-bar.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_reset-filter.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_reset-text.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_resize.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_responsive-visibility.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_size.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_tab-focus.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_table-row.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_text-emphasis.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_text-overflow.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/a5b3115e100f7e00c16b2c39c9c491740e82d327/_vendor-prefixes.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-accordion.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-background.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-buttons.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-carousel.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-content-spot.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-document-headers.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-footer.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-gmap.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-header.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-heroes.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-highlights.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-image.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-lead.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-list-group.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-navigation.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-panels.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-progress.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-section-header.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-tabset.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-variables.scssc
Playground.Web/Areas/RenameMeArea/scss/.sass-cache/ff66144c70b2822909970252bc3b46ec1491ec5b/_site-youtube-video.scssc
